$grayDark: #2B2D42 !default;
$grayLight: #8D99AE !default;
$white: #EDF2F4 !default;
$redDark: #D90429 !default;
$redLight: #EF233C !default;

html,
body {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

body {
    background-color: $redLight;
    background-image: url('/assets/images/bg.svg');
    background-size: cover;
    color: $white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
    font-size: 20px;
    display: flex;
    padding: 3%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

@media only screen and (max-width: 780px) {
    body {
        justify-content: flex-start;
    }
}

a {
    color: $white;
    font-weight: 700;
}

strong {
    font-weight: 700;
}

p {
    line-height: 1.64;
}

.wrap {
    margin-top: -60px;
}

@media only screen and (max-width: 780px) {
    .wrap {
        margin-top: 40px;
    }
}

.spectrum-message {
    display: none;
    margin: 0 auto;
    max-width: 500px;
    width: 100%;
}

#logo {
    width: 150px;
}

@media only screen and (max-width: 780px) {
    #logo {
        width: 100px;
    }
}

#title {
    font-size: 4rem;
}

@media only screen and (max-width: 780px) {
    #title {
        font-size: 2rem;
    }
}

.underline {
    border-bottom: .25em solid $grayDark;
}

.form {
    display: grid;
    grid-gap: 32px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    text-align: center;
}

.response {
    background: $grayLight;
    box-shadow: 4px 8px 32px rgba($grayDark, .4);
    border-radius: 4px;
    color: $white;
    padding: 16px;
    margin-bottom: 32px;
    font-size: 1rem;
}

::-webkit-input-placeholder {
    color: $grayLight;
}

::-moz-placeholder {
    color: $grayLight;
}

input {
    background: $white;
    box-shadow: 0 0 0 rgba(0,0,0,.4);
    border: 0;
    border-radius: 4px;
    color: $grayDark;
    padding: 16px 0;
    text-align: center;
    width: 100%;
    transform: translate3d(0,0,0);
    transition: box-shadow .10s ease-in-out, transform .10s ease-in-out;

    &:focus {
        outline: 0;
        box-shadow: 4px 8px 32px rgba($grayDark, .4);
        transform: translate3d(0,-1px,0);

        &::-webkit-input-placeholder {
            color: transparent
        }

        &::-moz-placeholder {
            color: transparent;
        }
    }
}

@media only screen and (max-width: 780px) {
    .label-wrap {
        grid-column: span 2;
    }
}

label {
    display: none;
}

input[type="submit"],
.button {
    background: $grayDark;
    border: 0;
    border-radius: 4px;
    color: $white;
    font-weight: 700;
    letter-spacing: .04em;
    padding: 20px 24px 16px;
    grid-column: span 2;
    text-decoration: none;
    transition: all .10s ease-in-out;
    display: inline-block;

    &:hover {
        cursor: pointer;
        box-shadow: 4px 8px 32px rgba($grayDark, .4);
        transform: translate3d(0,-1px,0);
    }
}

.button {
    padding: 16px 24px;
}
